@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");
body {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/005/210/780/small_2x/abstract-geometric-white-and-gray-color-background-low-poly-pattern-illustration-vector.jpg);
}

.draggable {
    width: 90px;
    height: 90px;
    padding: 0.5em;
    float: left;
    margin: 0 10px 10px 0;
}

#dogeHouse {
    width: 95%;
    height: 300px;
    border: 2px solid #ccc;
    padding: 10px;
}

h3,
label,
p {
    background-color: #purple;
}

h3 {
    color: purple;
    /*   font-family: "Roboto", sans-serif; */
    font-family: "Quicksand", sans-serif;
}

.card {
    margin-top: 1rem;
}